<%- include("header"); -%>
<h1>About Us</h1>
<br>
<p> This Project is for the APW Spring 2021 Semester Class</p>
<br>
<li> Group Members </li>
<li> Group Members </li>
<li> Group Members </li>
<li> Group Members </li>
<li> Group Members </li>
<br>
<p> Our goal was to create a web-application using the material learned in class to implement
    NodeJS and Express into our projects. 
</p>

<head>
    <body>
        <!-- Testing image placement on web-server -->
        <!-- <img src = "../public/images/penguin.jpg"> -->
    </body>
</head>
<%- include ("footer"); -%>