<!-- Author of this page: Miguel Patel & Phuc Doan-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Node JS App</title>
    <!-- stylesheet adapted from the following side. Credited to bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
</head>
 
<body>
<div class="navbar navbar-default navbar-static" role="navigation">
     <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand" href="/">Node JS Semester Project</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="/home">Home</a></li> -->
        <li><a href="/about">About</a></li>

        <!-- Provides access to more pages to those authenticated users -->
        <!-- While the user is logged in, they are able to access the Profile & Game page -->
        <% if(currentUser != null) { %>
            <li><a href="/game">Our Game</a></li> 
            <li><a href="/leaderboard">Leaderboard</a></li>
            <li><a href="#">Welcome <%= currentUser.username %>!</a></li>
            <li><a href="/logout">Logout</a></li>
        <%}%>
        <% if(currentUser == null) { %> 
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Sign Up</a></li>
        <% } %>
        </ul>
    </div>
</div>
</body>

<div class="container">

    <%  if(error && error.length > 0) { %>
        <div class="alert-danger" role="alert">
          <%= error %>
        </div>
    <% } %>
    
    <%  if(info && info.length > 0) { %>
        <div class="alert-info" role="alert">
          <%= info %>
        </div>
    <% } %>

