<!-- Author of this page: Swadesh Malneedi-->
<%- include("header"); -%>

<h1>Home Page</h1>
<br>
<p> Please use the navigation bar to proceed to your desired destination! </p>

<%- include ("footer"); -%>