<!-- Author of this page: Swadesh Malneedi-->
<%- include("header"); -%>

<h1>Welcome to Node JS!</h1>
<br>
<p> Welcome to our App-Server created with NodeJS and Express! </p>

<%- include ("footer"); -%>